/*
 * 作者：shf
 * 时间：2017-12-15
 * 描述：首页H5改版3.0样式
 *
 */

/*头部导航栏开始*/
/*.search_bg .right.message{  right:15px;    top: 0;  }*/
/*.search_bg .right.search{  right:55px;      top: 0;}*/
.navbar{
    height: 84px;
    border-bottom: none;
}
.content-block {
    /*margin: 0 0 53px 0; !*这个加了微信端出问题*!*/
    margin:0;
}

.sheadwarp {
    margin-top: 47px;
    width: 100%;
    z-index: 99999999;
    overflow: hidden;
    /*border-top: 1px solid #eee;*/
    height: 37px;
    overflow: hidden;
    position: relative;
}
.sheadwarp .vague{
    position: absolute;
    right: -12px;
    bottom: 9px;
    width: 32px;
    height:24px;
    z-index: 9999;
    /*border:1px solid red;*/
}
.shead {
    width: 100%;
    height: 100%;
}

.shead .swiper-slide {
    text-align: center;
    font-size: 14px;
    color: #000;
    letter-spacing: .5px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
   -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 37px;
    /*width:80px;*/
    width: 23%;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}
.shead .swiper-slide:first-of-type{
    width:15.2%;
}

.shead.scrollBefore .swiper-slide{
    color: #fff;
    opacity: 1!important;
}
.shead.slideAfter .swiper-slide{
    color: #000;
    opacity: 1!important;
}

.search_bg.slideAfter .innerBg{
    color: #000;
    opacity: 1!important;
}
/*.shead .swiper-slide:first-of-type{*/
    /*width:19%;*/
    /*!*padding-left: 10px!important;*!*/
/*}*/
.headactive {
    color: #000000!important;
    font-weight: 600;
    position: relative;
    font-size: 18px!important;
}
.headactive i{
    /*position: absolute;*/
    /*bottom:-1px;*/
    /*left:25%;*/
    /*width:50%;*/
    /*height: 2px;*/
    /*background: #199301;*/
    position: absolute;
    bottom: 0px;
    left: calc(50% - 12px);
    width: 24px;
    height: 4px;
    border-radius: 20px;
    background: #199301;
}

/*主体轮播开始*/
.sbodywarp {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sbody {
    width: 100%;
    height: 100%;
}

.sbody>.swiper-wrapper>.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}


.shfwarp {
    height: 100%;
    width: 100%;
    overflow: hidden; /*这个太重要了*/
}

.sbody>.swiper-wrapper>.swiper-slide .pro-detail{
    width: 100%;
}


/*每个切换页面中的轮播开始*/
.pro-detail .lunbowarp {
    width: 100%;
    height: 3rem;
    position: relative;
    overflow: hidden;
}
.bodyslide0 .pro-detail .lunbowarp {
    width: 100%;
    height: 5rem;
}
.pro-detail .navbarBg{
    height:84px;
    background: #fff;
}

.pro-detail .lunbos,.pro-detail .lunboslide {
    width: 100%;
    height: 100%;

}
.pro-detail .lunbos img,.pro-detail .lunboslide img{
    width: 100%;
    height: 100%;
}

.pro-detail .lunbos .swiper-slide,.pro-detail .lunboslide .swiper-slide{
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.pro-detail .lunbos .swiper-slide a{
    display: block;
    width: 100%;
    height: 5rem;
}
.pro-detail .lunboslide .swiper-slide a{
    display: block;
    width: 100%;
    height: 3rem;
}
.pro-detail .lunbos .swiper-slide img {
     width: 100%;
     height: 5rem;
 }
.pro-detail .lunboslide .swiper-slide img {
    width: 100%;
    height: 3rem;
}
.body-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300ms opacity;
    -o-transition: 300ms opacity;
    transition: 300ms opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.body-pagination .swiper-pagination-bullet{
    transform: scale(1);
}

/*.body-pagination .swiper-pagination-bullet-active {*/
    /*!*opacity: 1!important;*!*/
    /*!*transform: scale(1.4)!important;*!*/
/*}*/
.body-pagination .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
}
.body-pagination{
    height: 9px;
    padding-top: 2px;
    bottom: 7px!important;
}


/*每个切换页面中的轮播结束*/
/*主推模块狩猎时刻*/
.main-column,.main-column img{
    width: 100%;
    height:2.46rem;
    vertical-align: bottom;
}
.main-column{
    position: absolute;
    top:4.8rem;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    z-index: 2;
}
/*其他模块*/
.sec-column{
    width: 100%;
    /*height:4.34rem;*/
    overflow: hidden;
    background: #f7f7f7;
    /*background: red;*/
    /*padding:10px 0 0 0;*/
    margin-top: 2.26rem;
}
.sec-column a{
    float: left;
    /*width:50%;*/
    font-size: 0;
    line-height: 0;
    vertical-align: top;
}
.sec-column .endways{
   height: 4.34rem;
   width: 3.75rem;
}
.sec-column .transversely1{
    width: 3.75rem;
    height: 2.25rem;
 }
.sec-column a:nth-of-type(2){
    width: 3.75rem;
    height: 2.09rem;
}
.sec-column .endways img{
    height: 100%;
    width: 100%;
    vertical-align: top;
}
.sec-column .transversely1 img,.sec-column .transversely2 img{
    height: 100%;
    width: 100%;
    vertical-align: top;
}
/*.sec-column .transversely1:first-of-type img {*/
    /*width: 3.75rem;*/
    /*height: 2.09rem;*/
/*}*/
/*楼层*/
.sbody .floor{
    border-bottom: 10px solid #f7f7f7;
}
.sbody .floor:last-of-type{
    border-bottom: none;
}
.floor .floor-banner img{
    width:100%;
    height:2.8rem;
}

.floor-swiper {
    width: 100%;
    height:100px;
}

.floor-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height:100px;
}
/*楼层中的轮播开始*/
.floor .floor-swiper {
    width: 100%;
    height: 3.92rem;
    background: #fff;
    position: relative;
    overflow: hidden;
}
.floor .floor-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width: 28%;
    height:100%;
    position: relative;
}
.floor .floor-swiper .swiper-slide:last-of-type{
    margin-right:25px!important;
}
.floor .floor-swiper .swiper-slide>a{
    width: 2.2rem;
    height: 100%;

}
.floor .floor-swiper .swiper-slide>a>img {
    width: 2rem;
    height: 2rem;
    margin-top: .16rem;
}
.floor .floor-swiper .swiper-slide>a .title{
    font-size: 12px;
    color: #000000;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    width: 1.5rem;
    margin: 0 auto;
    padding-top: .2rem;
}

.floor .floor-swiper .swiper-slide>a .price{
    font-size: 10px;
    color: #FB6B13;
    letter-spacing: 0.5px;
    position: absolute;
    /*bottom: 0.35rem;*/
    bottom: 16px;
    left: .3rem;
    font-weight: 600;
    margin: 0;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.floor .floor-swiper .swiper-slide>a .price span{
    font-size: 14px;

}

.floor .floor-swiper .swiper-slide>span.cart{
    position: absolute;
    bottom: 10px;
    right:-11px;
    width:30px;
    height:30px;
    z-index: 9999999;
    /*width:.56rem;*/
    /*height:.56rem;*/
}
.floor .floor-swiper .swiper-slide>span.cart img{
    width:30px;
    height:30px;
    z-index: 9999999;
    /*width:.56rem;*/
    /*height:.56rem;*/
}

/*楼层中的轮播结束*/
/*主体轮播结束*/
/*其他页面商品列表展示开始*/
.swiper-slide .pro-detail .pro-info{
    height:110px;
    width:100%;
    padding:10px 0 0 10px;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.swiper-slide .pro-detail .pro-info .pro-left{
    position: absolute;
    top:10px;
    left:10px;
    height:100px;
    width:100px;
}
.swiper-slide .pro-detail .pro-left img{
    height:100px;
    width:100px;
}
.swiper-slide .pro-detail .pro-info .pro-right{
    height:100px;
    width:100%;
    background: #ffffff;;
}
.swiper-slide .pro-detail .cart{
    position: absolute;
    bottom:12px;
    right:15px;
    height:40px;
    width:40px;
}

.swiper-slide .pro-detail .cart img{
    height:40px;
    width:40px;
}
.swiper-slide .pro-detail .pro-right .title{
    font-size: 14px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin:0 59px 0 120px;
    padding-top: 15px;
    text-align: left;
    letter-spacing: .5px;
    line-height: 20px;
}
.swiper-slide .pro-detail .pro-right .price{
    position: absolute;
    bottom: 15px;
    margin-left: 120px;
    text-align: left;
    font-weight: 600;
}
.swiper-slide .pro-detail .pro-right .new-price{
    display: inline-block;
    font-size: 10px;
    color: #FB6B13;
    letter-spacing: 1px;

}
.swiper-slide .pro-detail .pro-right .new-price span{
    font-size: 16px;

}
.swiper-slide .pro-detail .pro-right .old-price{
    display: inline-block;
    font-size: 9px;
    color: #7E7E7E;
    text-decoration: line-through;
}

/*其他页面商品列表展示结束*/
/*预加载样式开始*/
.bodyslide>.loading {
    width:100%;
    height:100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.bodyslide>.loading img {
    width: .6rem;
    height:.6rem;
}
/*预加载样式结束*/
/*轮播小圆点开始*/
.swiper-pagination-bullet-active {
    opacity: 1!important;
}
.swiper-pagination-bullet{
    background: #fff;
    opacity:0.47;
}
.swiper-pagination-bullet{
    width: 15px;
    height:2px;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0 6px;
}
.swiper-pagination-bullet {
    border-radius: 5px;
}

/*轮播小圆点结束*/

/*首页渐变、切换slide效果*/
.search_bg.scrollBefore .position b{
    border-top-color: #fff;
}
.search_bg.slideAfter .position b{
    border-top-color: #000;
}
.shead.scrollBefore .swiper-slide{
    border-bottom: none;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom:24px;
}
.search_bg.scrollBefore .right.message .icon{
    position: relative;
    background: url(../../images/icon_v1.0/news@2x.png) no-repeat center center;
    background-size: contain;
}
.search_bg.slideAfter .right.message .icon{
    background: url(../../images/icon_v1.0/btn_news@2x.png) no-repeat center center;
    background-size: contain;
}
.search_bg.slideAfter .center .searcho{
    background-color: #f7f7f7;
}
.remindMsg{

}