/*
 * 作者：shf
 * 时间：2017-05-22
 * 描述：唤醒app的全部样式,包括为了解决冲突的补救措施
 * */
.arouse-app{
    width:100%;;
    height:54px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37be88',endColorstr='#43e1a2',GradientType='1');
    background:-webkit-linear-gradient(left,#37be88,#43e1a2);
    background: -o-linear-gradient(left,#37be88,#43e1a2);
    background: -moz-linear-gradient(left,#37be88,#43e1a2);
    background: linear-gradient(left,#37be88,#43e1a2);
    color: #fff;
    position: fixed;
    top:0;
    display: none;
    z-index: 9999;
}
.arouse-app b{
    background: url(../../../images/v1/img/btn_close@2x.png) no-repeat center center;
    -webkit-background-size:11px;
    background-size:14px;
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height:100%;
    cursor: pointer;
}
.arouse-app i{
    display: block;
    width:37px;
    margin-left: 40px;
    float: left;
    margin-top: 10px;
}
.arouse-app i img{
    height:37px;
    width:37px;
    vertical-align: middle;
}
.arouse-app .aa-intro{
    float: left;
    margin-left: 7px;
}
.arouse-app .aa-intro>p:nth-of-type(1){
    font-size: 15px;
    margin-top: 10px;
}
.arouse-app .aa-intro>p:nth-of-type(2){
    font-size: 12px;
}
.arouse-app .aa-down{
    float: right;
    font-size: 16px;
    margin: 17px 30px 0 0;
    cursor: pointer;
}

.aatips {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 99990;
}
.aatips>img {
    display: block;
    margin: 45% auto;
    width: 80%;
}
/*修正冲突*/
.content-detail {
    margin-top: 54px;
}
.pro-details-top{
    position: absolute;
    top:54px;
}