/*初始样式*/
@CHARSET "utf-8";
html {font-size: 18px; font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, "Microsoft YaHei", Heiti, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;}
body,
ul,
ol,
li,
p,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd {margin: 0;padding: 0;border: 0;list-style: none;font-weight: normal;}
body {background: #F6F6F9;color: #333;margin: 0 auto;font-size: 18px;font-weight: normal;}
a,
a:link {color: #333;text-decoration: none;}
a:active,
a:hover{text-decoration: underline;}

* {-webkit-appearance: none;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
input:required,
input:valid,
input:invalid {border: 0 none;outline: 0 none;-webkit-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;-o-box-shadow: none;box-shadow: none;}/* 重置文本格式元素 */


input[type="number" ]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"]{-moz-appearance:textfield;}

address,
cite,
dfn,
em,
var {font-style: normal;}/* 将斜体扶正 */

code,
kbd,
pre,
samp {}/* 统一等宽字体 */
del {color: #aaa; font-size:1.2rem;}

@media only screen and (max-width: 310px) and (min-width: 300px) {html {font-size: 9px}}
@media only screen and (max-width: 320px) and (min-width: 310px) {html {font-size: 9px}}
@media only screen and (max-width: 360px) and (min-width: 320px) {html {font-size: 9px} .filter-menu-list ul{margin-top:.12rem;}.filter-menu-list ul li i{font-size:2.2rem !important;}}
@media only screen and (max-width: 360px) and (min-width: 350px) {html {font-size: 10px} .filter-menu-list ul{margin-top:.1rem;}.filter-menu-list ul li i{font-size:2.2rem !important;}}
@media only screen and (max-width: 480px) and (min-width: 360px) {html {font-size: 10px} .filter-menu-list ul{margin-top:.1rem;}.filter-menu-list ul li i{font-size:2.2rem !important;}}
@media only screen and (max-width: 480px) and (min-width: 470px) {html {font-size: 13.33333px}}
@media only screen and (max-width: 560px) and (min-width: 480px) {html {font-size: 13.33333px}}
@media only screen and (max-width: 570px) and (min-width: 560px) {html {font-size: 15.83333px}}
@media only screen and (max-width: 640px) and (min-width: 570px) {html {font-size: 15.83333px}}
@media only screen and (max-width: 640px) and (min-width: 630px) {html {font-size: 17.77778px}}
@media only screen and (max-width: 710px) and (min-width: 640px) {html {font-size: 17.77778px}}


/*动画*/


/*通用*/
a:hover{
    text-decoration: none;
}

/*文字超出一行隐藏*/

.clear{clear:both}


/*滚动条样式*/
.scrollbar-none::-webkit-scrollbar {/*滚动条宽度设置*/
    width: 0px;height: 0;
}

/*dis-flex*/
.dis-flex{display:flex; display: -webkit-flex;}
.dis-flex:before{display:flex; display: -webkit-flex;}
.dis-block{display: block;}
.dis-i-flex{display:inline-flex; display: -webkit-inline-flex;}


/*商品分类页*/
.category-top .search{border-bottom:1px solid #e8e8e8;position:fixed; left:0; top:0; right:0; z-index: 1; background:#F6F6F9}
.menu-left,.menu-right{position:fixed; left:0;top:68px; bottom:0; overflow-y: scroll;}
.menu-right #loading{left:11rem; top:6.7rem;}
.top-line{border-bottom:1px solid #ccc;height:20px;width:100%;position:fixed;top:27px;background:#f8f8f8;z-index:10;}
.menu-left{background:#F6F6F9;padding-bottom:68px;}
.menu-left ul li{padding:1rem .8rem; box-sizing: border-box;  font-size:1.6rem; width:10.6rem;margin:.5rem .5rem 0rem 0;background:#fff;  }
.menu-left ul li.active{ position:relative;margin-right:0; width:11.1rem;background:#50c896;}
.menu-left ul li.active a span{color:#fff;}
.menu-left ul li.active:before{content: " "; position: absolute;display: block; width:2px; height:100%; top:0; left:0;}
.menu-left ul li a span{white-space: nowrap;  display: inline-block;color:#c5c5c5;padding-right:4px;}
.menu-right{background:#fff;  margin-left:11.1rem;right:0; bottom:0;margin-top:.5rem;padding-bottom:9px;}

.menu-right h5{font-size:1.3rem; color:#666; margin-top:1rem; margin-bottom:.4rem;}
.menu-right h5:first-child{margin-top:0;}

.menu-right ul{overflow: hidden;padding-bottom:50px;}
.menu-right ul li{text-align: left;border-bottom:1px solid #50c896;padding:0.5rem 0.8rem;}

/*.menu-right ul li a{display:block; position: absolute; left:.3rem; top:.7rem; bottom:.7rem; right:.3rem;}
.menu-right ul li:nth-child(3n+1) a{left:0; right:.7rem;}
.menu-right ul li:nth-child(3n) a{right:0; left: .7rem;}*/
.menu-right ul li span{display:block;height:2.6rem; line-height: 2.6rem; overflow: hidden; text-align: center; font-size:1.4rem}
.menu-right ul li strong{display:block; overflow: hidden; text-align: left; font-weight: normal}
.menu-right ul li strong a{height:2.6rem; line-height: 2.6rem;font-size:1.6rem;color:#50c896;}
.menu-right ul li img{width:5rem; height: auto;	}
.menu-right ul li .cont{word-wrap:break-word; word-break:normal;overflow: hidden }
.menu-right ul li .cont a{width:33%;font-size:1.6rem;color:#666;white-space:nowrap;float:left;line-height:2rem;}
.mune-no-img img{display:none}
.mune-no-img span{border:1px solid #efefef; color:#555; border-radius: 4px;}


/* 分类  */
.navbar{height:68px;background:#50C896;}
.navbar .title{text-align: center;width:100%;color:#fff;line-height:68px;height:100%;font-size:2.6rem}
.view-cont{margin-top:68px;overflow: hidden}