/*第一部分*/
.content_one .one_ct{
    overflow: hidden;
    width: 1200px;
    margin: 42px auto;
    margin-bottom: 0px;
/*    margin-bottom: 30px;*/
}
.content_one .one_ct a{
    width: 300px;
    height: 174px;
    float: left;
}
.content_one .one_ct a img{
    width: 300px;
    height: 174px;
}
/*第二部分*/
.content_two .two_ct{
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}
.content_two .two_ct .two_ul{
    width: 880px;
    height:264px;
    margin-right: 20px;
}
.content_two .two_ct .two_ul li{
    border: 1px solid #f8f8f8;
    width: 174px;
    height:262px;
    float: left;
    border-left: none;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}
.content_two .two_ct .two_ul li:hover{
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}
.content_two .two_ct .two_ul li a{
    width: 174px;
    height:262px;
}
.content_two .two_ct .two_ul li a .li_div{
    width: 89%;
    margin-left: 10px;
    margin-right: 10px;
}
.content_two .two_ct .two_ul li a .li_div p{
    font-size: 14px;
    color: #333333;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 19px;
}
.content_two .two_ct .two_ul li a .li_div .li_div_one{
    margin-top: 22px;
}
.content_two .two_ct .two_ul li a .li_div .li_div_one i{
    font-style: normal;
    text-decoration: line-through;
    font-size: 14px;
    color: #999999;
    margin-left: 10px;
}
.content_two .two_ct .two_ul li a .li_div .li_div_one .big_span{
    color: #ff7e13;
    font-size: 16px;
    font-weight: bold;
}
.content_two .two_ct .two_ul li a .li_div .li_div_one .big_span .small_span{
    color: #ff7e13;
    font-size: 14px;
}
.content_two .two_ct .two_ul li:first-of-type{
    border-left: 1px solid #f8f8f8;
}
.content_two .two_ct .two_ul,.content_two .two_ct a{
    float: left;
}
/*第三部分*/
.content_three .ct_three{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    background: url(../images/ct_three_img1.png) no-repeat;
    height: 630px;
    margin-top: 30px;
}
.content_three .ct_three .three_top{
    height: 333px;
    width: 1200px;
    margin-top: 297px;
}
.content_three .ct_three .three_top li{
    width: 174px;
    height:265px;
    border: 1px solid #f8f8f8;
    float: left;
    margin-right: 52px;
    -moz-box-shadow: 0px 2px 10px #ddd; -webkit-box-shadow: 0px 2px 10px #ddd; box-shadow: 0px 2px 10px #ddd;
    margin-top: 8px;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}
.content_three .ct_three .three_top li:hover{
    transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}
.content_three .ct_three .three_top li:first-of-type{
    margin-left: 60px;
}
.content_three .ct_three .three_top li .li_div{
    width: 89%;
    margin-left: 10px;
    margin-right: 10px;
}
.content_three .ct_three .three_top li .li_div p{
    font-size: 14px;
    color: #333333;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 18px;
    text-align: center;
}
.content_three .ct_three .three_top li .li_div .big_span{
    text-align: center;
    color: #ff7e13;
    font-size: 16px;
    width: 100%;
    display: block;
    margin-top: 17px;
    font-weight: bold;
}
.content_three .ct_three .three_top li .li_div .big_span .small_span{
    text-align: center;
    color: #ff7e13;
    font-size: 14px;
}
/*第四部分*/
.content_four .ct_four{
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    height: 630px;
    margin-top: 30px;
}
.content_four .ct_four .ct_four_top{
    height: 100px;
    width: 100%;
    background: #f8f8f8;
}
.content_four .ct_four .ct_four_top h3{
    font-size: 30px;
    color: #333333;
   margin-left: 20px;
    padding-top: 20px;
}
.content_four .ct_four .ct_four_top p{
    font-size: 24px;
    color: #999999;
    padding-top: 12px;
    margin-left: 20px;
}
.content_four .ct_four .ct_four_bottom{
    height: 530px;
    width: 100%;
}
.content_four .ct_four .ct_four_bottom .four_img ,.content_four .ct_four .ct_four_bottom ul{
    float: left;
}
.content_four .ct_four .ct_four_bottom ul{
    width: 880px;
}
.content_four .ct_four .ct_four_bottom ul li{
    width: 174px;
    height: 263px;
    border: 1px solid #f8f8f8;
    float: left;
}
.content_four .ct_four .ct_four_bottom ul li .li_div {
    width: 89%;
    margin-left: 10px;
    margin-right: 10px;
}
.content_four .ct_four .ct_four_bottom ul li .li_div p {
    font-size: 14px;
    color: #333333;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 18px;
    text-align: center;
}
.content_four .ct_four .ct_four_bottom ul li .li_div .big_span {
    text-align: center;
    color: #ff7e13;
    font-size: 16px;
    width: 100%;
    display: block;
    margin-top: 17px;
    font-weight: bold;
}
.content_four .ct_four .ct_four_bottom ul li .li_div .big_span .small_span {
    text-align: center;
    color: #ff7e13;
    font-size: 14px;
}

