	<input type="hidden" id="isIndex" value="1"/>
    <div class="container">
        <div class="fst_screen clearfix">
            <div class="slides_wp fl">
                <div id="slides" class="slides">
                   		<a href="http://testsite.ge960.com/goods/searchproduct2.html?title=羊元宝肉"><img alt="" src="http://testboss.ge960.com:80/upload/20180124/1516784562120.jpg" width="770px" height="330px"/></a>
                   		<a href="http://testsite.ge960.com/goods/searchproduct2.html?title=六必居"><img alt="" src="http://testboss.ge960.com:80/upload/20180328/1522220457675.jpg" width="770px" height="330px"/></a>
                   		<a href="http://testsite.ge960.com/goods/searchproduct2.html?title=羊元宝肉"><img alt="" src="http://boss.ge960.com:80/upload/20170329/1490749712234.jpg" width="770px" height="330px"/></a>
                   		<a href="http://www.aqspw.com/"><img alt="" src="http://boss.ge960.com:80/upload/20170329/1490749710140.jpg" width="770px" height="330px"/></a>
                </div><!--/slides-->
                <div class="jscroll pr">
                    <div class="jscroll_wp">
                        <div class="jscroll_box">
                            <ul class="jscroll_list clearfix">
                            </ul><!--/jscroll_list-->
                        </div><!--/jscroll_box-->
                    </div><!--/jscroll_wp-->
                    <a class="j_prev" href="javascript:;"></a>
                    <a class="j_next" href="javascript:;"></a>
                </div><!--/jscroll-->
            </div><!--/slides_wp-->
            <div class="fst_rig fl">
                <div class="r_pic">
                	<a href="http://www.ge960.com/item/7139.html"><img alt="" src="http://testboss.ge960.com:80/upload/20170907/1504784916726.jpg" width="230" height="130"/></a>
                	</div>
                <div class="r_notice">
                    <div class="notice_tit clearfix">
                        <h3 class="fl"></h3>
                        <a class="n_more fr" href="information/list/" target="_blank">更多»</a>
                    </div><!--/notice_tit-->
                    <div class="notice_cont">
                        <ul class="notice_list">
	                        		<li><a href="information/147" title="供货商登录" target="_blank">
	                        				供货商登录
	                        			</a>
	                        		</li>
	                        		<li><a href="information/143" title="020服务站" target="_blank">
	                        				020服务站
	                        			</a>
	                        		</li>
                        </ul><!--/notice_list-->
                    </div><!--/notice_cont-->
                </div><!--/r_notice-->
                <div class="r_recharge">
                   <div style="height:178px;border:1px solid #ddd;">

                	<a href="http://www.ge960.com/channel/243.html"><img alt="" src="http://boss.ge960.com:80/upload/20170315/1489547617619.jpg" width="228" height="177"/></a>
                   </div>

                </div><!--/r_recharge-->
            </div><!--/fst_rig-->
        </div><!--/fst_screen-->

        <div class="hot_recommend mt15">
            <h2>热门推荐</h2>
            <ul class="recommend_list clearfix mt10">

            </ul><!--/recommend_list-->
            <div class="rec_show mt10 clearfix">
	                <a href="http://www.ge960.com/channel/237.html">
	                    <img class="lazy" alt="" data-original="http://boss.ge960.com:80/upload/20170315/1489547617619.jpg"  width="394" height="70" />
	                </a>
	                <a href="http://www.ge960.com/channel/239.html">
	                    <img class="lazy" alt="" data-original="http://boss.ge960.com:80/upload/20170315/1489547617619.jpg"  width="394" height="70" />
	                </a>
	                <a href="http://www.ge960.com/channel/241.html">
	                    <img class="lazy" alt="" data-original="http://boss.ge960.com:80/upload/20170315/1489547617619.jpg"  width="394" height="70" />
	                </a>
            </div><!--/rec_show-->
        </div><!--/hot_recommend-->
        <div class="floors_list mt10">
<!--楼层开始-->
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>1F</span>红葡萄酒</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/6073-5879.html">白酒</a></li>
	                        		<li><a href="list/6075-5879.html">啤酒</a></li>
	                        		<li><a href="list/6077-5879.html">红酒</a></li>
	                        		<li><a href="list/6079-5879.html">洋酒</a></li>
	                        		<li><a href="list/6345-5879.html">果酒</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522220434150.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>1F</span>锡林郭勒牛羊肉</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5801-5799.html">牛肉</a></li>
	                        		<li><a href="list/5803-5799.html">羊肉</a></li>
	                        		<li><a href="list/5805-5799.html">猪肉</a></li>
	                        		<li><a href="list/5807-5799.html">鸡肉</a></li>
	                        		<li><a href="list/5809-5799.html">鸭肉</a></li>
	                        		<li><a href="list/5811-5799.html">禽蛋</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20171221/1513836764286.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>1F</span>今日热购</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5775-5773.html">叶菜类</a></li>
	                        		<li><a href="list/5779-5773.html">根茎类</a></li>
	                        		<li><a href="list/5781-5773.html">茄果瓜类</a></li>
	                        		<li><a href="list/5783-5773.html">菌菇类</a></li>
	                        		<li><a href="list/5785-5773.html">葱蒜类</a></li>
	                        		<li><a href="list/6339-5773.html">干货</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522220457675.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>2F</span>白葡萄酒</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/6073-5879.html">白酒</a></li>
	                        		<li><a href="list/6075-5879.html">啤酒</a></li>
	                        		<li><a href="list/6077-5879.html">红酒</a></li>
	                        		<li><a href="list/6079-5879.html">洋酒</a></li>
	                        		<li><a href="list/6345-5879.html">果酒</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522220434150.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>2F</span>水果</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5789-5787.html">浆果类</a></li>
	                        		<li><a href="list/5791-5787.html">柑橘类</a></li>
	                        		<li><a href="list/5793-5787.html">核果类</a></li>
	                        		<li><a href="list/5795-5787.html">瓜类</a></li>
	                        		<li><a href="list/5797-5787.html">其他</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20171221/1513849783102.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>2F</span>有机蔬菜</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5775-5773.html">叶菜类</a></li>
	                        		<li><a href="list/5779-5773.html">根茎类</a></li>
	                        		<li><a href="list/5781-5773.html">茄果瓜类</a></li>
	                        		<li><a href="list/5783-5773.html">菌菇类</a></li>
	                        		<li><a href="list/5785-5773.html">葱蒜类</a></li>
	                        		<li><a href="list/6339-5773.html">干货</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522230390643.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>3F</span>蔬菜</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5775-5773.html">叶菜类</a></li>
	                        		<li><a href="list/5779-5773.html">根茎类</a></li>
	                        		<li><a href="list/5781-5773.html">茄果瓜类</a></li>
	                        		<li><a href="list/5783-5773.html">菌菇类</a></li>
	                        		<li><a href="list/5785-5773.html">葱蒜类</a></li>
	                        		<li><a href="list/6339-5773.html">干货</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20171221/1513849903472.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>3F</span>有机水果</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5775-5773.html">叶菜类</a></li>
	                        		<li><a href="list/5779-5773.html">根茎类</a></li>
	                        		<li><a href="list/5781-5773.html">茄果瓜类</a></li>
	                        		<li><a href="list/5783-5773.html">菌菇类</a></li>
	                        		<li><a href="list/5785-5773.html">葱蒜类</a></li>
	                        		<li><a href="list/6339-5773.html">干货</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522220434150.jpg"  width="1200" height="100"></div>
            <div class="floor_wp">
                <div class="flr_title clearfix">
                    <h2 class="fl"><span>4F</span>有机面粉</h2>
                    <div class="tabs_box pr fl">
                    </div><!--/tabs_box-->
                </div><!--/flr_title-->
                <div class="flr_wp clearfix">
                    <div class="flr_left fl">
                        <div class="flr_img pr">
                        </div><!--/flr_img-->
                        <div class="flr_menu">
                            <ul class="clearfix">
	                        		<li><a href="list/5775-5773.html">叶菜类</a></li>
	                        		<li><a href="list/5779-5773.html">根茎类</a></li>
	                        		<li><a href="list/5781-5773.html">茄果瓜类</a></li>
	                        		<li><a href="list/5783-5773.html">菌菇类</a></li>
	                        		<li><a href="list/5785-5773.html">葱蒜类</a></li>
	                        		<li><a href="list/6339-5773.html">干货</a></li>
                            </ul>
                        </div><!--/flr_menu-->
                        <div class="flr_promotion">
                        </div><!--/flr_promotion-->
                    </div><!--/flr_left-->
                    <div class="flr_cont fl">
	<!--标签1开始-->
	<!--标签1结束-->
	<!--标签2、3、4开始-->
	<!--标签2、3、4结束-->
	<!--标签5开始-->
<!--标签5结束-->
                    </div><!--/flr_cont-->
                </div><!--/flr_wp-->
            </div><!--/floor_wp-->

            <div class="flr_banner"><img class="lazy" alt="" data-original="http://testboss.ge960.com:80/upload/20180328/1522220434150.jpg"  width="1200" height="100"></div>
<!--楼层结束-->
        </div><!--/floors_list-->


	<div class="side_tools">
        <ul class="clearfix">
            <li
            	class="first_tool"
            	><span><em>红葡萄酒</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>锡林郭勒牛羊肉</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>今日热购</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>白葡萄酒</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>水果</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>有机蔬菜</em><img alt="" src="http://testboss.ge960.com:80/upload/20180330/1522374892532.jpg" width="20px" height="20px"/></span></li>
            <li
            	><span><em>蔬菜</em><img alt="" src="" width="20px" height="20px"/></span></li>
            <li
            	><span><em>有机水果</em><img alt="" src="http://testboss.ge960.com:80/upload/20180330/1522374892532.jpg" width="20px" height="20px"/></span></li>
            <li
            	class="last_tool"
            	><span><em>有机面粉</em><img alt="" src="http://testboss.ge960.com:80/upload/20180328/1522223050218.jpg" width="20px" height="20px"/></span></li>
        </ul>
        <a class="feedback" href="/customer/feedback.html"><em>我要反馈</em><b></b></a>
        <a class="backtotop" href="javascript:;"><em>返回顶部</em><b></b></a>
        <div class="customer-box">
            <span class="title"></span>
            <hr>
            <a href="javascript:;" class="close-cs"></a>
            <p><span class="qq_name">960客服</span><span class="qq_img"><a style="float:right;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3326874510&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:3326874510:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></span></p>
        </div>
    </div><!--/side_tools-->

    <script>
        $(function() {
        	//图片延迟加载
			$("img.lazy").lazyload({
				threshold: 200,
				effect: "fadeIn",
				failurelimit : 10,
				placeholder: "/index_two/images/lazy_img.png",
				skip_invisible: false
			});
        	//右侧导航
			$(".side_tools li").each(function(n){
				var cur = $(this);
				var t_top = $(".floor_wp:eq("+n+")").offset().top;
				cur.mouseover(function(){
					cur.addClass("hover");
				}).mouseout(function(){
					cur.removeClass("hover");
				});
				cur.click(function(){
					$("body,html").animate({
		                    scrollTop: t_top
		                },500);
				});
			});
			$(".side_tools").css("top",($(window).height() - $(".side_tools").height()) / 2);
			var dis = $(".floor_wp:first").offset().top / 2;
			$(window).scroll(function() {
				if ($(document.documentElement).scrollTop() > dis || $(document.body).scrollTop() > dis) {
		            $(".side_tools").css('display','block');
		            $(".floor_wp").each(function(n){
		            	var _this = $(this);
		            	var to_top = $(".side_tools").offset().top;
		            	if(to_top > _this.offset().top && to_top < _this.next().offset().top) {
		            		$(".side_tools").find(".cur").removeClass("cur");
		            		$(".side_tools li:eq("+n+")").addClass("cur");
		            	};
		            });
		            $(".backtotop").die().live("click",
		            function() {
		                $("body,html").animate({
		                    scrollTop: 0
		                },0);
		             	$(".side_tools").find(".cur").removeClass("cur");
		            });
		        } else {
		            $(".side_tools").css('display','none');
		        }
		    });
        	//轮播大广告
        	if($("#slides").find("a").length > 1) {
	            $('#slides').slidesjs({
	                width: 770,
	                height: 330,
	                play: {
	                    active: false,
	                    effect: "fade",
	                    auto: true,
	                    interval: 4000,
	                    pauseOnHover: true,
	                    restartDelay: 2500
	                },
	                navigation: {
	                    active: false
	                },
	                pagination: {
	                    active: true,
	                    effect: "fade"
	                }
	            });
        	}
            //轮播小广告的数量
            var jscroll_list_size = $(".jscroll_list").find("li").length;
            if(jscroll_list_size>4){
            	jscroll_list_size=4;
            }
            if($(".jscroll_list").find("li").length>1){
	            $(".jscroll_box").jCarouselLite({

	                btnNext: ".j_next",
	                btnPrev: ".j_prev",
	                auto: 3600,
	                speed: 500,
	                visible: jscroll_list_size,
	                onMouse: true,
	                scroll: jscroll_list_size
	            });
            }

            $(".floor_wp").each(function(){
                var cur = $(this);
                if(cur.find(".f_slides a").length > 1) {
                	cur.find(".f_slides").slidesjs({
	                    width: 600,
	                    height: 300,
	                    navigation: {
	                        active: false
	                    },
	                    pagination: {
	                        active: true,
	                        effect: "slide"
	                    }
	                });

                };
                if(cur.find(".up_slides a").length > 1) {
                	cur.find(".up_slides").slidesjs({
	                    width: 400,
	                    height: 250,
	                    navigation: {
	                        active: false
	                    },
	                    pagination: {
	                        active: true,
	                        effect: "slide"
	                    }
	                });

                }
                if(cur.find(".below_slides a").length > 1) {
                	cur.find(".below_slides").slidesjs({
	                    width: 400,
	                    height: 250,
	                    navigation: {
	                        active: false
	                    },
	                    pagination: {
	                        active: true,
	                        effect: "slide"
	                    }
	                });

                }
            });
        });
    </script>
