<style>
    .show-box{
        margin-bottom: 0!important;
    }
    .bgPop{
        top:249px;
    }
</style>
<div class="show-box">
    <div id="slides">

            <a class="slide" href="http://testsite.ge960.com/goods/searchproduct2.html?title=羊元宝肉" style="background-image:url(http://testboss.ge960.com:80/upload/20180124/1516784562120.jpg);"></a>
            <a class="slide" href="http://testsite.ge960.com/goods/searchproduct2.html?title=六必居" style="background-image:url(http://testboss.ge960.com:80/upload/20180328/1522220457675.jpg);"></a>
            <a class="slide" href="http://testsite.ge960.com/goods/searchproduct2.html?title=羊元宝肉" style="background-image:url(http://boss.ge960.com:80/upload/20170329/1490749712234.jpg);"></a>
            <a class="slide" href="http://www.aqspw.com/" style="background-image:url(http://boss.ge960.com:80/upload/20170329/1490749710140.jpg);"></a>

    </div>
</div>